{
  "extends": ["next", "next/core-web-vitals"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "commonjs": true,
    "mongo": true
  },
  "rules": {
    "global-require": ["error"],
    "handle-callback-err": ["error"],
    "semi": [2, "always"]
  }
}
