.assignment_body {
  width: 90%;
  border-radius: 20px;
  margin: 15px auto;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.subject_div {
  margin: 0px 15px;
  min-width: 240px;
}

.date_div {
  display: flex;
  align-items: center;
  min-width: 160px;
}
.date_div h4 {
  margin: 0px 10px;
}

.date_icon_div {
  background-color: var(--red);
  display: inline-flex;
  padding: 2px;
  max-height: 26px;
  user-select: none;
}

.button_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_div button {
  min-height: 40px;
  margin: 0px 15px;
  min-width: 80px;
  background: var(--orange);
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.button_div button:hover {
  transform: scale(1.2);
}

/* Tooltip text */
.tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: var(--orange);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  margin: 5px auto;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.button_div:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 880px) {
  .container {
    width: 60%;
    font-size: 18px;
  }
}
@media only screen and (max-width: 640px) {
  .subject_div {
    margin: 5px;
    text-align: center;
    min-width: initial;
  }
  .container {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .assignment_body {
    flex-direction: column;
  }
  .date_div {
    justify-content: center;
    margin-bottom: 10px;
  }
  .button_div {
    margin-bottom: 20px;
  }
}
