.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: 30px auto;
}

.form {
  width: 100%;
}

.form_elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 40px auto;
  line-height: 40px;
}

.form_elements label {
  width: 50%;
}
.input {
  width: 50%;
  height: 40px;
  background-color: var(--pureWhite);
  border: none;
  outline: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.input:focus {
  border: 2px solid black;
}

.eye {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.eye:hover {
  transform: scale(1.1);
}

.button {
  width: 160px;
  height: 50px;
  background-color: var(--white);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: var(--orange);
  color: white;
  border: 2px solid white;
}

.error_div {
  color: white;
}

.error_response_div {
  width: 70%;
  margin: auto;
  text-align: center;
  color: var(--orange);
  font-size: 20px;
  font-family: "Poppins";
}
.success_div {
  width: 70%;
  margin: auto;
  text-align: center;
  color: lightgreen;
  font-size: 20px;
  font-family: "Poppins";
}

.button {
  background: var(--white);
  width: 140px;
  height: 48px;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 20px;
}
.button:hover {
  background-color: var(--orange);
  color: white;
  border: 2px solid white;
}
.center {
  min-height: 100%;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
