.heading_div {
  width: 90%;
  margin: 10px auto;
}
.heading_div h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: var(--pureWhite);
  margin: 10px 0px;
}

.assignment_div {
  margin-right: 10px;
  height: 80%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.assignment_div::-webkit-scrollbar {
  width: 15px;
}

.assignment_div::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 10px;
  margin: 20px;
}

.assignment_div::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 10px;
}
.assignment_div::-webkit-scrollbar-thumb:hover {
  background-color: rgb(245, 117, 78);
}
