.logo {
  width: 242px;
  height: 56px;
  background-image: url(../public/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.logo:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

.none {
  display: none;
}
.header {
  width: 100%;
  height: 96px;
  padding: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  height: 750px;
  display: flex;
  flex-direction: row;
  min-height: 750px;
}

.body {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 880px) {
  .main {
    flex-direction: column-reverse;
    height: initial;
    min-height: initial;
  }
}
