.profile_main {
  width: 380px;
  height: 280px;
  background-color: var(--red);
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.course {
  display: flex;
}
.name h3 {
  margin: 0%;
  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  color: var(--pureWhite);
}
.user_type h4,
.course h4,
.year h4,
.semester h4,
.organization h4,
.post h4,
.subject h4 {
  margin: 0%;
  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: var(--pureWhite);
}
