.navigation {
  width: 100px;
  height: 700px;
  min-height: 700px;
  margin: 40px;
  background: var(--red);
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation_item_body {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_span {
  margin: 10px auto;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.item_span:hover {
  transform: scale(1.2);
  background-color: var(--orange);
}
.item_span_focus {
  margin: 10px auto;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  background-color: var(--orange);
}
.item_span_end {
  margin: 10px auto;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
.item_span_end:hover {
  transform: scale(1.2);
  background-color: var(--orange);
}
.item_span_end:focus {
  background-color: var(--orange);
}

/* Tooltip text */
.item_span .tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: var(--orange);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  left: 100%;
  margin-left: 20px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.item_span:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}
/* Tooltip text */
.item_span_focus .tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: var(--orange);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  left: 100%;
  margin-left: 20px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.item_span_focus:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}
.item_span_end .tooltip_text {
  visibility: hidden;
  width: 120px;
  background-color: var(--orange);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  left: 100%;
  margin-left: 20px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.item_span_end:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1410px) {
  .navigation {
    margin: 20px;
  }
}
@media only screen and (max-width: 880px) {
  .navigation {
    width: 75vw;
    min-width: 355px;
    height: 100px;
    min-height: 100px;
    margin: 20px auto;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
  }
  .navigation_item_body {
    width: 60vw;
    min-width: 255px;
    flex-direction: row;
  }
  .item_span_end {
    height: 60px;
    margin: 10px;
  }
  .item_span .tooltip_text {
    /* Position the tooltip text */
    left: 0%;
    margin-left: -25px;
    bottom: 100%;
    margin-bottom: 20px;
  }
  .item_span_focus .tooltip_text {
    /* Position the tooltip text */
    left: 0%;
    margin-left: -25px;
    bottom: 100%;
    margin-bottom: 20px;
  }
  .item_span_end .tooltip_text {
    /* Position the tooltip text */
    left: 0%;
    margin-left: -25px;
    bottom: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .navigation {
    min-width: 290px;
  }
  .navigation_item_body {
    min-width: 210px;
  }
  .item_span {
    width: 45px;
    height: 45px;
  }
  .item_span_focus {
    width: 45px;
    height: 45px;
  }
  .item_span img {
    width: 30px;
    height: 30px;
  }
  .item_span_end img {
    width: 30px;
    height: 30px;
  }
  .item_span_focus img {
    width: 30px;
    height: 30px;
  }
  .item_span .tooltip_text {
    /* Position the tooltip text */
    left: 0%;
    margin-left: -33px;
    bottom: 100%;
    margin-bottom: 20px;
  }
  .item_span_focus .tooltip_text {
    /* Position the tooltip text */
    left: 0%;
    margin-left: -33px;
    bottom: 100%;
    margin-bottom: 20px;
  }
  .item_span_end .tooltip_text {
    /* Position the tooltip text */
    left: 0%;
    margin-left: -33px;
    bottom: 100%;
    margin-bottom: 20px;
  }
}
