.body_ellipse {
  width: 435px;
  min-height: 80vh;
  float: right;
  user-select: none;
  -webkit-user-drag: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body_ellipse_signup{
  width: 435px;
  min-height: 80vh;
  float: right;
  user-select: none;
  -webkit-user-drag: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body_ellipse img {
  user-select: none;
  -webkit-user-drag: none;
}

@media only screen and (max-width: 1260px) {
  .body_ellipse {
    width: 310px;
  }
  .body_ellipse_signup{
    width: 310px;
  }
}
@media only screen and (max-width: 1020px) {
  .body_ellipse_signup{
    display: none;
  }
}
@media only screen and (max-width: 740px) {
  .body_ellipse {
    display: none;
  }
}
